services:
  app:
    build: .
    ports:
      - "4001:4001" 
    volumes:
      - .:/app
    environment:
      MONGO_URI: mongodb://mongo:27017
    depends_on:
      - mongo

  mongo:
    image: mongo:7.0
    restart: always
    ports:
      - "27017:27017" 

    volumes:
      - mongo-data:/data/db

  frontend:
    build:
      context: ../admin-dashboard
      dockerfile: Dockerfile
    container_name: front
    environment:
      - VITE_API_URI=http://app:4001
    ports:
      - "5173:5173" 
    depends_on:
      - app
    restart: unless-stopped

volumes:
  mongo-data:
