services:
  app:
    build: .
    ports:
      - "3000:3000" 
    volumes:
      - .:/app
    environment:
      # MONGO_URI: mongodb+srv://theomoon77_db_user:8J1P7mZpQgpXQl94@bdapi.m79nfd2.mongodb.net/?
      MONGO_URI: mongodb://mongo:27017
    depends_on:
      - mongo

  mongo:
    image: mongo:7.0
    restart: always
    ports:
      - "27017:27017" 

    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data:
