name: CI/CD Deploy

on:
  push:
    branches:
      - feature/gitaction

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # 1️⃣ Checkout du repo
      - name: Checkout repository
        uses: actions/checkout@v4

      # 2️⃣ Installer Node.js
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      # 3️⃣ Installer dépendances et build frontend
      - name: Build frontend
        run: |
          cd admin-dashboard
          npm ci
          npm run build

      # 4️⃣ Transfert du build sur le VPS
      - name: Sync frontend build to VPS
        uses: burnett01/rsync-deployments@5.2
        with:
          switches: -avzr --delete
          path: admin-dashboard/
          remote_path: ${{ secrets.VPS_PATH }}
          remote_host: ${{ secrets.VPS_HOST }}
          remote_user: ${{ secrets.VPS_USER }}
          remote_key: ${{ secrets.SSH_PRIVATE_KEY }}
          remote_port: 22

